<div class="container-content">
    <h2>Login: </h2>

    <form action="/login" method="post" class="container-content-form">
        <input type="text" name="name" placeholder="insert your name">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Insert your email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        
        <input type="submit" name="btn-send" value="Continue">
    </form>
</div>