<div class="container-content">
    <h2>Register: </h2>

    <form action="/register" method="post" class="container-content-form">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="insert your name">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Insert your email">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword">

        <input type="submit" name="btn-send" value="Register">
    </form>
</div>